PORT=4000
MONGODB_URI=mongodb+srv://jaydipvaliya:Doremon@cluster0.xqy3kcw.mongodb.net/name
JWT_SECRET=b604ef1f46a3b5b620e3326ef8501a9c2958b81ccbe6cccd7ea381997df929a8
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173
